.crumbs{margin-top: 20px;margin-bottom: 20px;color:#979797;font-size: 16px }
.part2{padding-top: 10px;margin-bottom: 50px}
.part3{padding-top: 0px}
.part3Title .span2{color: #e56424;font-size: 30px;}

.part3 .span3{font-size: 24px;color: #e56424}
.part3Title {padding-bottom: 40px}
.part3Cont {background:#e3f0e4;border: 2px solid #c2c2c2 ;border-radius: 4px;overflow: hidden;padding-bottom: 65px;
    padding-left: 20px;padding-top: 35px}
.part3Cont input{width: 15px;height: 15px}
.part3Cont .s1{margin-right: 80px}
.part3Cont .s5{margin-right: 63px}
.part3Cont .s6{margin-right: 33px}
.part3Cont .s7{margin-right: 160px}
.part3Cont .s8{margin-right: 60px}
.formTop  .s10{margin-right: 94px}
.formTop  .s13{margin-right: 98px}
.formTop  .s15{margin-right: 62px}
.formTop  .s16{margin-right: 64px}
.formTop  .s17{margin-right: 49px}
.formTop  .s18{margin-right: 49px}




.part3Text{background: white;height: 60px;line-height: 60px;border:2px solid #c2c2c2  ;border-bottom: none;color: #555555;font-size: 24px;padding-left: 20px}
.part3Text span{color: #e56424 ;}
.part3Text .sel{width: 55px;height: 20px;float: right;font-size: 30px}
textarea{width:1135px;height: 156px;resize:none ;font-size: 16px;margin-bottom: 20px}
.formTop{margin-bottom: 20px}
.part3Cont form p span input{height: 30px;width: 100px;font-size: 18px;margin-bottom: 20px}
.part3Cont form p span{margin-right: 50px}
.part3Cont form p{margin-bottom: 20px}

.grayP{color: grey;font-size: 16px}

.button1{text-align: center;padding-top: 65px;padding-bottom: 50px}
.button1 button{width: 162px;height: 52px;font-size: 20px;margin-right: 50px}
