
.crumbs{margin-top: 20px;margin-bottom: 20px;color:#979797;font-size: 16px }
.part5{padding-top: 10px}

/*Part2部分*/
.part2{padding-top: 0px}
.ImgTop{border: 1px solid #c2c2c2 ;border-bottom: hidden}
.part2Title .span2{color: #e56424;font-size: 30px;}
.part2 .span3{font-size: 24px;color: #e56424}
.part2Title {padding-bottom: 0px}
.part2Cont{background:#e3f0e4;border: 1px solid #c2c2c2 ;border-radius: 4px;overflow: hidden;padding-top: 22px;padding-bottom: 30px;padding-left: 30px;padding-right: 30px}
.part2-L{float: left;text-align: right;color: #0c0c0c;font-size: 22px;margin-left: 15%}
.part2-L p{font-size: 22px;color: #0c0c0c;line-height: 57px}
.part2-R{float: right;margin-right: 17%}
.part2-R .inputLong{width: 600px;height: 50px}
.part2-R  p{margin-bottom: 20px}
.part2-R .inputChe{width: 25px;height: 17px;margin-left: 50px;line-height: 20px}
.part2-R input{font-size: 20px}
.part2Cont .rButton a{width: 100px;height: 44px;background: white;line-height: 40px;font-size: 18px;border: 1px solid gainsboro;display: inline-block;text-align: center;text-decoration: none;color: #0f0f0f}

/*Part4部分*/

.part4{padding-top: 0px}
.part4Title .span2{color: #e56424;font-size: 30px;}

.part4 .span3{font-size: 24px;color: #e56424}
.part4Title {padding-bottom: 40px}
.part4Cont {background:#e3f0e4;border: 1px solid #c2c2c2 ;border-radius: 4px;overflow: hidden;padding-bottom: 65px;
    padding-left: 120px;padding-top: 35px;position: relative}
.part4Text{background: white;height: 60px;line-height: 60px;border:2px solid #c2c2c2  ;color: #555555;font-size: 24px;padding-left: 20px}
.part4Text span{color: #e56424 ;}
.part4Text .sel{width: 55px;height: 20px;float: right;font-size: 30px}

/*九个图片*/
.part4Cont .imgBox-T div{width: 200px;height: 200px;border: 1px solid gray;float: left;margin-right: 60px;}
.part4Cont .imgBox-C div{width: 200px;height: 200px;border: 1px solid gray;float: left;margin-right: 60px}
.part4Cont .imgBox-B div{width: 200px;height: 200px;border: 1px solid gray;float: left;margin-right: 60px}
.part4Cont p{margin-top: 10px;margin-bottom: 20px}
.imgBox-T,.imgBox-C,.imgBox-B{overflow: hidden}
.file1{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 36px;  left: 121px;}
.file2{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 36px;  left: 383px;}
.file3{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 36px;  left: 644px;}
.file4{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 289px;  left: 121px;}
.file5{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 289px;  left: 383px;}
.file6{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 289px;  left: 644px;}
.file7{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 542px;  left: 121px;}
.file8{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 542px;  left: 383px;}
.file9{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 542px;  left: 644px;}

/**/
.part4Cont {background:#e3f0e4;border: 1px solid #c2c2c2 ;border-radius: 4px;overflow: hidden;padding-bottom: 65px;
    padding-left: 120px;padding-top: 35px;position: relative}
.part4Text{background: white;height: 60px;line-height: 60px;border:2px solid #c2c2c2  ;color: #555555;font-size: 24px;padding-left: 20px}
.part4Text span{color: #e56424 ;}
.part4Text .sel{width: 55px;height: 20px;float: right;font-size: 30px}
.part4 input{opacity: 0}
/*九个图片*/
.part5Cont .imgBox-T div{width: 200px;height: 200px;border: 1px solid gray;float: left;margin-right: 60px;}
.part4Cont .imgBox-C div{width: 200px;height: 200px;border: 1px solid gray;float: left;margin-right: 60px}
.part4Cont .imgBox-B div{width: 200px;height: 200px;border: 1px solid gray;float: left;margin-right: 60px}
.part4Cont p{margin-top: 10px;margin-bottom: 20px}
.imgBox-T,.imgBox-C,.imgBox-B{overflow: hidden}
.file1{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 36px;  left: 121px;}
.file2{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 36px;  left: 383px;}
.file3{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 36px;  left: 644px;}
.file4{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 289px;  left: 121px;}
.file5{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 289px;  left: 383px;}
.file6{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 289px;  left: 644px;}
.file7{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 542px;  left: 121px;}
.file8{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 542px;  left: 383px;}
.file9{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 542px;  left: 644px;}
.file10{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 795px;  left: 121px;}
.file11{width: 200px;height: 200px;position: absolute;z-index: 40;    top: 794px;  left: 383px;}


footer{text-align: center;padding-top: 65px;padding-bottom: 80px}
footer button{width: 162px;height: 52px;font-size: 20px}
